
 .grid_container{
  display: table;
  margin: 0 auto;
  position: relative;

}
.buttons {
  margin: 0 auto;
  display: flex;
  width: 500px;
}



.button:hover {
  background-color: #50C8FF;
  color: #303030;
  transition: background-color 0.5s, color 0.5s;
}
.row {
  display: table;
}
.cell {
  height: 100px;
  width: 100px;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin: 5px;
}
.game_over{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 30, 30, 0.62);
  color: #fff;
  top: 0;
}
.color-2 {
  background-color: #50C8FF;
}

.color-4 {
  background-color: green;
}

.color-8 {
  background-color: red;
}

.color-16 {
  background-color: orange;
}

.color-32 {
  background-color: yellow;
}

.color-64 {
  background-color: blue;
}

.color-128 {
  background-color: purple;
}

.color-256 {
  background-color: pink;
}

.color-512 {
  background-color: #50C8FF;
}

.color-1024 {
  background-color: green;
}

.color-2048 {
  background-color: blue;
}

.number {
  color: #FFF;
  font-size: 35px;
}

.score {
  text-align: center;
  margin-bottom: 20px;
}